/*
	TOC:
	1.) General Site Layout
	2.) Reusables/Modules
	3.) Page Types
	4.) Page Specific
	5.) Media Queries
*/

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; left: 0; }
      to { opacity: 0; left: 0; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; left: 0; }
      to { opacity: 0; left: 0; }
}

/* ------------------------------------------------------------
1.) General Site Layout
------------------------------------------------------------ */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #6E738F;
	font-size: 16px;
	color: #ddd;
	position: relative;
	overflow-x: hidden;
}

img,
object,
embed {
	max-width: 100%;
}

a:link {
	color: #FFE7BF;
	transition: color .2s linear, background-color .2s linear;
}

a:visited {
	color: #E2DACE;
}

a:active,
a:focus,
a:hover {
	color: red;
}

#header {
	background: #2C2F3F;
	padding: 0 3em;
	clear: both;
}

#content {
	margin: 0 0 0 3em;
	position: relative;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:focus,
#header a:hover,
#header a:active {
	color: #FFE7BF;
}

#title a {
	padding-left: 110px;
	font-family: "Ranchers", sans-serif;
	font-size: 2.5em;
	text-shadow: 2px 2px 2px #000;
	line-height: 2;
	background: url(http://mysmilies.com/images/monkey.png) left -5px no-repeat;
	display: block;
}

/* Primary content */

#main {
	max-width: 50em;
	margin-left: 3em;
	left: 0;
	transition: margin .2s linear, left .2s linear;
	position: relative;
	z-index: 0;
}

#main.loading {
	left: -100%;
}

#main.unloaded {
	transition: none;
	right: auto;
	left: 100%;
}

#main_headline {
	position: relative;
	font-weight: bold;
	padding: .5em 1em;
	border-bottom: none;
	background: #f6ecda;
	margin-left: -3em;
}

#main_headline a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}

/* Site Nav */

#secondary {
	background: #3C3F4F;
	margin-bottom: 2em;
	padding-left: 3em;
	position: relative;
	z-index: 2;
}

#secondary a {
	text-decoration: none;
	font-size: 1.1em;
}

#secondary .headline {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#secondary .item {
	display: inline-block;
	margin-right: 1em;
	vertical-align: bottom;
}

#secondary .item a {
	display: block;
	padding: .5em 1em;
}

#secondary .item a:focus,
#secondary .item a:hover {
	background: #2C2F3F;
	color: #fff;
}

#secondary .list .list {
	position: absolute;
	left: -9999px;
	top: 100%;
	background: #3C3F4F;
	padding: 0;
	z-index: -1;
	opacity: 0;
}

#secondary .has_no_focus .list {
	-webkit-animation: fadeOut .2s linear;
	animation: fadeOut .2s linear;
}

#secondary .item.has_focus .list {
	-webkit-animation: fadeIn .2s linear;
	animation: fadeIn .2s linear;
	opacity: 1;
	z-index: 2;
	left: 0;
}

#secondary .item {
	position: relative;
}

#secondary .item.has_focus {
	padding: 0;
	z-index: 2;
}

#secondary .item .item {
	display: block;
	white-space: nowrap;
	margin: 0;
}

#secondary .item .item a {
	padding: .5em 1em;
	display: block;

	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

#secondary .item .item a:focus,
#secondary .item .item a:hover {
	background: #4C4F5F;
}

#secondary .item .item:hover  {
	border: none;
	border-bottom: none;
}

/* Page content */
#sub {
	background: #2C2F3F;
	padding: 2em 3em 2em 3em;
	line-height: 1.5;
}

#sub .about p {
	margin-left: 1.5em;
}

/* ------------------------------------------------------------
2.) Reusables/Modules
------------------------------------------------------------ */

/* floatLabels */

.js-float-labels-wrapper label {
	color: #000;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------------------------------------------------------------
3.) Page Types
------------------------------------------------------------ */


/* ------------------------------------------------------------
4.) Page Specific
------------------------------------------------------------ */

.page_responsive img {
	display: block;
	margin-bottom: 1em;
}

.page_responsive ol {
	width: 500px;
	margin-left: 0;
	padding-left: 40px;
}

#sub .page_responsive * {
	max-width: 100%;
}

/* ------------------------------------------------------------
4.) Media Queries
------------------------------------------------------------ */

@media all and (max-width: 53em) {
	#main {
		margin: 0;
		max-width: 100%;
	}

	#main_headline {
		margin-left: 0;
	}
}

@media all and (max-width: 50em) {
	body {
		background: #2C2F3F;
	}

	#header {
		padding: 0 1em;
		margin: 0;
		border: none;
		display: block;
	}

	#sub {
		padding: 1em;
	}

	#secondary {
		margin-bottom: 0;
		padding-left: 1em;
	}
}

@media all and (max-width: 600px) {
	body {
		transition: margin .2s linear;
		margin-top: 2.2em;
	}

	body.navopen {
		margin-right: -15em;
		margin-left: 15em;
	}

	#header {
		transition: margin .2s linear;
		position: fixed;
		top: 0;
		left: 0;
		white-space: nowrap;
		z-index: 2;
		width: 100%;
		background: #6C6F9F;
	}

	.navopen #header {
		margin-left: 15em;
	}

	#title a {
		font-size: 1.1em;
		background-position: 0 -5px;
		margin-left: 2em;
		padding-left: 95px;
	}

	#secondary {
		transition: left .2s linear;
		position: fixed;
		top: 0;
		width: 15em;
		height: 100%;
		padding: 0;
		background: #a69c8a;
		left: -15em;
	}

	.navopen #secondary {
		left: 0;
	}

	#secondary a {
		color: #fff;
		display: block;
		position: relative;
		padding: .5em 1em;
	}

	#secondary .headline a:after {
		content: "";
		position: absolute;
		right: -2.5em;
		top: 0;
		width: 2.5em;
		height: 2.1em;
		padding: .5em 0;
		text-indent: -1em;
		line-height: 2em;
		background: url(/images/menu.gif) center center no-repeat;
	}

	#secondary .headline {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
		background: #867c6a;
	}

	#secondary .item {
		display: block;
		margin: 0;
	}

	#secondary .list .list {
		position: static;
		opacity: 1;
		-webkit-animation: none !important;
		animation: none !important;
		background: transparent;
		margin-left: 1em;
		white-space: normal;
		font-size: .9em;
	}
}