/*
	TOC:
	1.) General Site Layout
	2.) Reusables/Modules
	3.) Page Types
	4.) Page Specific
	5.) Media Queries
*/

/* ------------------------------------------------------------
1.) General Site Layout
------------------------------------------------------------ */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #6E738F;
	font-size: 16px;
	color: #ddd;
	position: relative;
	overflow: hidden;
}

a:link {
	color: #FFE7BF;
	transition: color .2s linear, background-color .2s linear;
}

a:visited {
	color: #E2DACE;
}

a:active,
a:focus,
a:hover {
	color: red;
}

#header {
	background: #2C2F3F;
	padding: 0 3em;
	clear: both;
}

#content {
	margin: 0 0 0 3em;
	position: relative;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:focus,
#header a:hover,
#header a:active {
	color: #6E738F;
}

#title a {
	padding-left: 110px;
	font-family: "Ranchers", sans-serif;
	font-size: 2.5em;
	text-shadow: 2px 2px 2px #000;
	line-height: 2;
	background: url(http://mysmilies.com/images/monkey.png) left -5px no-repeat;
	display: block;
}

/* Primary content */

#main {
	max-width: 50em;
	margin-left: 3em;
	left: 0;
	transition: left .2s linear;
	position: relative;
}

#main.loading {
	left: -100%;
}

#main.unloaded {
	transition: none;
	right: auto;
	left: 100%;
}

#main_headline {
	position: relative;
	font-weight: bold;
	padding: .5em 1em;
	border-bottom: none;
	background: #f6ecda;
	margin-left: -3em;
}

#main_headline a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}

#secondary {
	background: #3C3F4F;
	margin-bottom: 2em;
	padding-left: 3em;
}

#secondary a {
	text-decoration: none;
	font-size: 1.1em;
}

#secondary .headline {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#secondary .item {
	display: inline-block;
	margin-right: 1em;
}

#secondary .item a {
	display: inline-block;
	padding: .5em 1em;
}

#secondary .item a:focus,
#secondary .item a:active,
#secondary .item a:hover {
	background: #6E738F;
	color: #fff;
}

#sub {
	background: #2C2F3F;
	padding: 2em 3em 2em 3em;
	line-height: 1.5;
}

#sub .about p {
	margin-left: 1.5em;
}

/* ------------------------------------------------------------
2.) Reusables/Modules
------------------------------------------------------------ */

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------------------------------------------------------------
3.) Page Types
------------------------------------------------------------ */


/* ------------------------------------------------------------
4.) Page Specific
------------------------------------------------------------ */


/* ------------------------------------------------------------
4.) Media Queries
------------------------------------------------------------ */

@media all and (max-width: 53em) {
	#main {
		margin: 0;
		max-width: 100%;
	}

	#main_headline {
		margin-left: 0;
	}
}

@media all and (max-width: 50em) {
	body {
		background: #2C2F3F;
	}

	#header {
		padding: 0 1em;
		margin: 0;
		border: none;
		display: block;
	}

	#sub {
		padding: 1em;
	}

	#secondary {
		margin-bottom: 0;
		padding-left: 1em;
	}
}

@media all and (max-width: 600px) {
	#title a {
		font-size: 1.5em;
	}
}