/* <meta name="viewport" content="width=device-width , initial-scale=1.0"> */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:target {
  outline: 3px dashed yellow;
  outline-offset: -3px;
}

/* Nav button from js */

.sa-mobile-friendly-menu-button {
  text-indent: 100%;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  height: 32px;
  width: 32px;
  box-shadow: none;
  border-top: none;
  border-right: none;

  &:before {
    text-indent: 0;
    display: block;
    content: "☰";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2.1;
  }
}

/* Mobile friendly styling */

* {
  max-width: 100%;
}

body {
  background-image: none !important;

  &:not(.sa-mobile-friendly-menu-button-clicked) {
    #nav_title,
    #nav_purchase,
    #navigation,
    #threadiklist,
    .bottom_forms,
    .threadrate,
    .navigation,
    .online_users {
      display: none !important;
    }

    /* THREAD */
    &.showthread {
      .threadbar.top {
        display: none;
      }

      #thread .post {
        .postdate a,
        .profilelinks,
        img[src$="sa-history2.gif"] {
          display: none;
        }
      }
    }
  }

  &.sa-mobile-friendly-menu-button-clicked {
    #container {
      padding-top: 32px;
    }

    .sa-mobile-friendly-menu-button:before {
      content: "X";
    }
  }
}

#container {
  background-image: none !important;
  padding: 0 0 5px 0;
}

#nav_title {
  padding: 5px 37px 5px 5px;
  line-height: 32px;

  div {
    display: inline-block;
  }
}

#nav_subtitle {
  &:before {
    content: " - ";
    display: inline;
  }
}

div.pages a,
div.pages span.disabled,
.letternav li a,
.letternav li a:hover,
.messages_nextprev a,
.modqueue #main_full div.pages a {
  height: auto;
}

#something_awful .breadcrumbs {
  margin-bottom: 10px !important;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &:first-child {
    .pages,
    .mainbodytextlarge {
      padding-right: 37px;
    }
  }

  span {
    white-space: normal !important;
    line-height: 1.5;
    display: inline-block;
  }

  .mainbodytextlarge {
    height: auto !important;
    flex-grow: 1;
    font-size: 0;

    .up {
      font-size: 15px;
      display: block;

      span {
        display: none !important;
      }
    }
    
    .index {
      display: none !important;
    }

    .bclast {
      font-size: 15px;
      display: block;
      font-weight: normal;
      color: inherit;
      pointer-events: none;
    }
  }

  .pages {
    float: none;
    white-space: nowrap;
    align-content: end;
    flex-grow: 1;

    .disabled {
      display: none;
    }

    span {
      line-height: 18px !important;
    }

    a,
    span,
    select {
      margin-left: 3px !important;
      margin-right: 3px !important;
    }

    a,
    button,
    span {
      box-shadow: none !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    button {
      margin-right: 3px !important;
    }

    input {
      box-shadow: none !important;
      margin-left: 3px !important;
    }

    select {
      height: 32px;
      box-shadow: none;
      margin-bottom: 3px;
    }
  }
}

/* --------------------------------
   FORUM
-------------------------------- */

.forumdisplay {
  #forum {
    width: 100%;
  }

  #mp_bar,
  #filter {
    display: none;
  }

  .threadlist {
    .icon,
    .author,
    .replies,
    .rate,
    .rating,
    .views,
    .lastpost {
      display: none;
    }
  }
}

/* --------------------------------
   THREAD
-------------------------------- */

.showthread {
  .postbuttons {
    float: none !important;
  }

  #thread {
    .post {
      border-left: none;
      border-right: none;
      border-top: none;
      
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      td {
        display: block;
      }

      tr:first-child {
        display: flex;
        flex-direction: column;
      }

      tr:last-child {
        display: flex;
        background: none;
        flex-wrap: wrap;

        > td {
          display: inline;
          width: auto;
        }

        .postdate {
          background-image: none !important;
          border: none !important;
          padding-right: 12px !important;
          flex-grow: 1000;
          text-align: right;
          line-height: 43px !important;
        }

        .postlinks {
          background-image: none !important;
          height: auto !important;
          max-height: none !important;
          text-align: right;
          flex-grow: 1;
          flex-shrink: 1;
        }

        .postbuttons {
          float: none;
          display: inline-flex;
        }
      }
    }

    td.userinfo {
      padding: 0 !important;
      width: 100%;
      display: flex;
      background-image: none;

      .author {
        order: 1;
      }
    }

    dl.userinfo {
      display: flex !important;
      width: 100% !important;
      flex-wrap: nowrap;
      background-image: none;
      padding: 0;

      .author {
        margin-bottom: 0 !important;
        line-height: 32px !important;
        white-space: nowrap;
      }

      .registered,
      .special_title,
      .special_title_v2 {
        display: none;
      }

      .title {
        padding: 0 !important;
        margin: 0 10px 0 10px !important;
        white-space: nowrap;
        line-height: 32px;
        height: 32px;
        width: 32px;
        overflow: hidden;
        order: 0;

        img {
          max-width: 32px;
          max-height: 32px;
          padding: 0 !important;
          vertical-align: middle;
          border-radius: 5px;
        }

        *:not(img:first-of-type) {
          display: none;
        }
      }
    }
    
    .postbody {
      padding: 5px 10px;
      background-image: none;

      a {
        word-break: break-all;
      }
    }
    
    .bbc-block {
      margin: 10px;
      padding: 2px 10px;
      border-left-width: 4px;
    }
  }

  .threadbar.bottom {
    display: flex;

    .postbuttons {
      flex-grow: 1;
      text-align: right;
    }

    + .breadcrumbs {
      margin-bottom: 25px !important;
    }
  }
}

/* --------------------------------
   REPLY/EDIT
-------------------------------- */

.editpost,
.newreply {
  #content {
    width: auto !important;
  }

  .breadcrumbs {
    display: none;
  }

  #main_full {
    tbody > tr > td:first-child {
      display: none;
    }

    textarea {
      font-size: 16px !important;
    }

    .postinfo {
      height: auto;
    }

    .save-state {
      margin-bottom: 5px;

      strong {
        display: block;
      }

      a {
        float: none;
      }
    }
  }
}

/* --------------------------------
   EDIT THREAD
-------------------------------- */

.threads_editthread {
  #main_wide {
    width: 100%;
    max-width: 100%;
  }

  #content table.standard {
    tr {
      display: flex;
      flex-wrap: wrap;

      td,
      th {
        flex-grow: 1;
        display: block;
      }
    }

    tr td:first-child {
      min-width: 0;
      width: auto;
      white-space: nowrap;
    }
  }

  div.posticon {
    margin-bottom: 5px;

    img {
      padding: 0;
      vertical-align: baseline;
    }
  }
}