#place-image-menu {
	font-size: 16px;
	background: #000;
	background: rgba(0,0,0,.7);
	border-radius: .5em;
	padding: 1em 1em 0 0;
	position: fixed;
	top: 0;
	right: 0;
	color: #fff;
	width: 380px;
	font-family: sans-serif;
}

#place-image-width,
#place-image-height {
	width: 60px;
}

#place-image-result {
	width: 260px;
}

#place-image-menu #place-image-buttons-label,
#place-image-menu #place-image-config-head,
#place-image-menu #place-image-config,
#place-image-menu #place-image-result-label {
	display: block;
}

#place-image-menu label {
	display: inline-block;
	padding-left: 1em;
	padding-bottom: 1em;
}

#place-image-config-head:before {
	content: '+ ';
}

#place-image-menu #place-image-config {
	display: none;
}

#place-image-menu.place-image-config-open #place-image-config {
	display: block;
}

.place-image-config-open #place-image-config-head:before {
	content: '- ';
}

#place-image-img img {
	width: 100px;
}