/.idea
/_site
/Gemfile.lock
/css/_make-note-normalize.css.map
/css/_make-note-shared.css
/css/_make-note-shared.css.map
/css/make-note-iframe.css.map
/css/make-note.css.map
/project.sublime-project
/project.sublime-workspace
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
