<section id="install-greasemonkey" class="cms">
	<h2><a href="#install-greasemonkey">Installation instructions</a></h2>

	<h3>Firefox</h3>
	<ul>
		<li>Install Greasemonkey (<a href="https://addons.mozilla.org/en-Us/firefox/addon/greasemonkey/">https://addons.mozilla.org/en-Us/firefox/addon/greasemonkey/</a>)</li>
		<li>Copy the script below, click the down arrow next to the monkey and click "New User Script" then click "Use Script From Clipboard"</li>
	</ul>

	<h3>Chrome</h3>
	<ul>
		<li>Install Tampermonkey (<a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en</a>)</li>
		<li>NOTE: You must enable Developer Mode to make this extension work now.</li>
	</ul>

	<h3>Opera</h3>
	<ul>
		<li>Install Violent Monkey (<a href="https://addons.opera.com/en/extensions/details/violent-monkey/?display=en">https://addons.opera.com/en/extensions/details/violent-monkey/?display=en</a>)</li>
		<li>Copy the script below, click the monkey, click "Manage Scripts", then "New". Select what's there and paste the script.</li>
	</ul>

	<h3>Safari</h3>
	<ul>
		<li>Install Tampermonkey (<a href="https://tampermonkey.net/index.php?ext=dhdg&amp;browser=safari">https://tampermonkey.net/index.php?ext=dhdg&amp;browser=safari</a>)</li>
		<li>Once installed, you must restart Safari.</li>
		<li>Copy the script below, click the weird square icon with two circles then click "Add new script". Select what's there and paste the script.</li>
	</ul>
</section>