<section id="install-greasemonkey" class="cms">
	<h2><a href="#install-greasemonkey">Installation instructions</a></h2>

	<h3>Firefox</h3>
	<ul>
		<li>Install Greasemonkey (<a href="https://addons.mozilla.org/en-Us/firefox/addon/greasemonkey/">https://addons.mozilla.org/en-Us/firefox/addon/greasemonkey/</a>)</li>
	</ul>

	<h3>Chrome</h3>
	<ul>
		<li>Install Tampermonkey (<a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en</a>)</li>
		<li>NOTE: You must enable Developer Mode to make this extension work now.</li>
	</ul>

	<h3>Opera</h3>
	<ul>
		<li>Install Violent Monkey (<a href="https://addons.opera.com/en/extensions/details/violent-monkey/?display=en">https://addons.opera.com/en/extensions/details/violent-monkey/?display=en</a>)</li>
	</ul>

	<h3>Safari</h3>
	<ul>
		<li>Install Tampermonkey (<a href="https://tampermonkey.net/index.php?ext=dhdg&amp;browser=safari">https://tampermonkey.net/index.php?ext=dhdg&amp;browser=safari</a>)</li>
		<li>Once installed, you must restart Safari.</li>
	</ul>

	<h3>Safari (iOS)</h3>
	<ul>
		<li>Install Userscripts (<a href="https://apps.apple.com/us/app/userscripts/id1463298887">https://apps.apple.com/us/app/userscripts/id1463298887</a>)</li>
		<li>Click the link below</li>
		<li>Click the puzzle piece icon (extensions) in the upper left next to the URL</li>
		<li>Click "Userscripts"</li>
		<li>Click "Tap to install"</li>
		<li>Scroll down if needed and install</li>
	</ul>
</section>