<li class="item item_headline">Discord:</li>
<li class="item"><a href="/greasemonkey/discord-snippets">Discord Snippets</a></li>
<li class="item"><a href="/greasemonkey/text-editor">Discord Text Editor</a></li>

<li class="item item_headline">General:</li>
<li class="item"><a href="/greasemonkey/fix-ugly-links">Fix Ugly Links</a></li>

<li class="item item_headline">General UI Tools:</li>
<li class="item"><a href="/greasemonkey/invert-colors">Invert Colors</a></li>
<li class="item"><a href="/greasemonkey/outline-links">Outline Links</a></li>
<li class="item"><a href="/greasemonkey/remove-right-click-blocker-and-popups">Remove Right Click Blockers and Popups</a></li>
<li class="item"><a href="/greasemonkey/video-skip-time">Video - Skip Time/Change Playback Speed</a></li>
<li class="item"><a href="/greasemonkey/notifications-window">Notifications Window</a></li>
<li class="item"><a href="/greasemonkey/timers">Timers</a></li>

<li class="item item_headline">SomethingAwful:</li>
<li class="item"><a href="/greasemonkey/sa-better-page-picker">SA - Better Page Picker</a></li>
<li class="item"><a href="/greasemonkey/sa-fix-tweets">SA - Fix Tweets</a></li>
<li class="item"><a href="/greasemonkey/sa-mobile-friendly">SA - Mobile Friendly</a></li>
<li class="item"><a href="/greasemonkey/sa-remove-subforum-stylesheets">SA - Remove Subforum Stylesheets</a></li>

<li class="item item_headline">Steam:</li>
<li class="item"><a href="/greasemonkey/steam-show-average-reviewer-hours">Steam - Show Average Reviewer Hours</a></li>

<li class="item item_headline">YouTube:</li>
<li class="item"><a href="/greasemonkey/youtube-chat-enhancer">YouTube - Chat Enhancer</a></li>
<li class="item"><a href="/greasemonkey/yt-video-dark-mode">YouTube - Video Dimmer</a></li>
