<li class="item"><a href="/greasemonkey/fix-ugly-links">Fix Ugly Links</a></li>
<li class="item"><a href="/greasemonkey/sa-better-page-picker">SomethingAwful - Better Page Picker</a></li>
<li class="item"><a href="/greasemonkey/sa-fix-tweets">SomethingAwful - Fix Tweets</a></li>
<li class="item"><a href="/greasemonkey/sa-mobile-friendly">SomethingAwful - Mobile Friendly</a></li>
<li class="item"><a href="/greasemonkey/sa-remove-subforum-stylesheets">SomethingAwful - Remove Subforum Stylesheets</a></li>
<li class="item"><a href="/greasemonkey/video-skip-time">Video - Skip Time/Change Playback Speed</a></li>
<li class="item"><a href="/greasemonkey/youtube-chat-enhancer">YouTube - Chat Enhancer</a></li>
<li class="item"><a href="/greasemonkey/yt-video-dark-mode">YouTube - Video Dimmer</a></li>
