.element-selector-hover {
	outline: 4px dashed red !important;
	outline-offset: -2px;
}

#element-selector-selector {
	background: #000;
	background: rgba(0,0,0,.7);
	color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 16px;
	padding: .5em .5em 0 .5em;
	font-family: sans-serif;
	z-index: 9999;
}

#element-selector-selector input {
	width: 300px;
}

#element-selector-selector p {
	padding: 0 0 .5em 0;
	margin: 0;
}

#element-selector-selector.element-selector-hovered {
	bottom: 0;
	left: 0;
	top: auto;
	right: auto;
}